@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>No tiene permisos para acceder a esta sección.</h2>
<p>Consulte con el administrador del sistema.</p>
