@model AsiloPatitos.Domain.Entities.Empleado

@{
    ViewData["Title"] = "Editar Empleado";
}

<section class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-7">

            <div class="card-form">
                <h2 class="form-title mb-4">Editar Empleado</h2>

                <form asp-action="Edit">
                    @Html.AntiForgeryToken()
                    <input type="hidden" asp-for="Id" />

                    <div class="mb-3">
                        <label asp-for="Nombre" class="form-label-custom"></label>
                        <input asp-for="Nombre" class="form-input form-control" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="Cedula" class="form-label-custom"></label>
                        <input asp-for="Cedula" class="form-input form-control" />
                    </div>

                    <div class="mb-3">
                        <label asp-for="FechaIngreso" class="form-label-custom"></label>
                        <input asp-for="FechaIngreso" class="form-input form-control" />
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Departamento" class="control-label"></label>
                        <select asp-for="Departamento" class="form-control">
                            <option value="">Seleccione un departamento</option>
                            <option value="Administración">Administración</option>
                            <option value="Gerencia">Gerencia</option>
                            <option value="DTI">DTI</option>
                            <option value="Financiero">Financiero</option>
                        </select>
                        <span asp-validation-for="Departamento" class="text-danger"></span>
                    </div>


                    <div class="form-group mb-3">
                        <label asp-for="Perfil" class="control-label"></label>
                        <select asp-for="Perfil" class="form-control">
                            <option value="">Seleccione un perfil</option>
                            <option value="Gerencia">Gerencia</option>
                            <option value="Gestión de Pacientes">Gestión de Pacientes</option>
                            <option value="Mantenimiento">Mantenimiento</option>
                            <option value="Recepción">Recepción</option>
                        </select>
                        <span asp-validation-for="Perfil" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between mt-4">
                        <a asp-action="Index" class="btn-cancel">Cancelar</a>
                        <button type="submit" class="btn-form-submit">Guardar cambios</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</section>
